@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: Caveat-Bold;
  src: url("../fonts/Caveat-Bold.ttf");
}
@font-face {
  font-family: Caveat-SemiBold;
  src: url("../fonts/Caveat-SemiBold.ttf");
}
@font-face {
  font-family: Caveat-Regular;
  src: url("../fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: Celestina-Regular;
  src: url("../fonts/Celestina.otf");
}
@font-face {
  font-family: Comfortaa-SemiBold;
  src: url("../fonts/Comfortaa-SemiBold.ttf");
}
.title {
  font-family: Raleway-Bold;
  font-size: 55px;
  line-height: 58px;
  color: #3d2b2b;
  max-width: 550px;
  padding-top: 280px;
  margin-left: 100px;
}
.title span {
  background: rgba(82, 10, 104, 0.6);
}

.subtitle {
  font-family: Caveat-SemiBold;
  font-size: 50px;
  line-height: 50px;
  color: #520a68;
  margin-bottom: 25px;
}

body {
  font-family: "Monoton", cursive, "Comfortaa-SemiBold";
  font-size: 20px;
  line-height: 25px;
  color: #3d2b2b;
}

.text, ul, ol {
  margin-bottom: 10px;
}

.text span, ol span, label span {
  font-family: Caveat-Bold;
  font-size: 30px;
  color: #6e1537;
}

ul li, ol li {
  margin-bottom: 5px;
}

ul li::marker {
  color: #6e1537;
}

main {
  background: url("../img/background/bg_main-Asuna.png") left 40px/450px fixed no-repeat, url("../img/background/bg_main-Itachi.png") right -68px/320px fixed no-repeat, rgba(255, 215, 215, 0.5);
}
main .embroidery {
  background: rgba(241, 220, 220, 0.9);
  box-shadow: 1px 1px 10px #3d2b2b;
  background: rgba(181, 174, 168, 0.77);
}
main .embroidery p {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.news_block {
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  background: #f1dcdc;
  box-shadow: 1px 1px 10px #3d2b2b;
}
.news_block .subtitle {
  text-align: center;
}
.news_block .sticker {
  font-family: Caveat-Regular;
  font-size: 35px;
  color: #ffffff;
  background: #6e1537;
  max-width: max-content;
  padding: 10px 50px;
  position: absolute;
  top: 40px;
  left: -30px;
}

.date {
  font-family: Caveat-Regular;
  font-size: 25px;
  max-width: max-content;
  margin: 5px 0 10px auto;
}

@media all and (max-width: 1440px) and (min-width: 550px) {
  .date {
    color: #fdecec;
    text-shadow: #382e2e 1px 1px 0, #382e2e -1px -1px 0, #382e2e -1px 1px 0, #382e2e 1px -1px 0;
  }
}
@media all and (max-width: 1000px) {
  main {
    background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.36)), url("../img/background/bg_main-Asuna.png") left 40px/450px fixed no-repeat, url("../img/background/bg_main-Itachi.png") right -68px/320px fixed no-repeat, rgba(255, 215, 215, 0.5);
  }
}
@media all and (max-width: 550px) {
  .title {
    font-size: 45px;
  }

  .subtitle {
    font-size: 45px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .text {
    font-size: 17px;
    line-height: 22px;
  }
  .text span {
    font-size: 27px;
  }

  main {
    background: rgba(191, 150, 181, 0.24);
  }
}
.wrap {
  max-width: 1300px;
  margin: 0 auto;
}

.header_top {
  padding: 10px 10px 0 10px;
  background: rgba(201, 196, 196, 0.5);
  border-bottom: 1px solid #949191;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  position: relative;
  width: 190px;
  height: 82px;
}
.logo svg {
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.logo .brand {
  font-family: Celestina-Regular;
  font-size: 29px;
  position: absolute;
  top: 28%;
  left: 15%;
  transition: 300ms;
}
.logo:hover .brand {
  color: #f8e352;
}
.logo:hover svg {
  fill: #f8e352;
}

.burger_menu {
  position: fixed;
  top: 30px;
  right: 70px;
  padding-bottom: 10px;
  z-index: 5;
}
.burger_menu .block_menu {
  position: absolute;
  right: 0;
  top: 30px;
  border-left: 1px solid #6b6969;
  background: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.burger_menu .block_menu a {
  min-width: 0;
  font-family: Caveat-Bold;
  font-size: 0;
  line-height: 0;
  text-transform: uppercase;
  color: #3d2b2b;
  visibility: hidden;
  transition: all 800ms linear, visibility 10ms;
  display: block;
}
.burger_menu .block_menu a:hover {
  background: #f8e352;
}
.burger_menu .block_menu hr {
  height: 0;
  margin: 0;
  opacity: 1;
}
.burger_menu:hover a {
  min-width: 300px;
  font-size: 24px;
  line-height: 24px;
  padding: 15px 20px;
  visibility: visible;
}
.burger_menu:hover hr {
  width: 50px;
  height: 1px;
  background: #6b6969;
  color: #6b6969;
}

@media all and (max-width: 1350px) {
  .burger_menu {
    top: 30px;
    right: 45px;
  }
}
@media all and (max-width: 400px) {
  header .logo {
    width: 137px;
    height: 59px;
  }
  header .logo .brand {
    font-size: 20px;
  }
  header .burger_menu {
    top: 19px;
    right: 25px;
  }
  header .burger_menu .block_menu {
    background: #efe5ec;
  }
  header .burger_menu img {
    width: 20px;
  }
}
header {
  background: url("../img/background/bg_header-other.jpg") top/cover no-repeat;
}

.header_top {
  background: rgba(145, 143, 143, 0.52);
}

.header_bottom .title {
  width: max-content;
  padding: 0;
  margin: 80px auto;
}

.menu {
  background: #6e1537;
}
.menu .flex {
  max-width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
}
.menu .flex div {
  width: 100%;
  text-align: center;
  padding: 15px 0;
}
.menu .flex div:last-child {
  padding-right: 45px;
}
.menu .flex div a {
  color: white;
}
.menu .flex div a {
  transition: 300ms;
}
.menu .flex div a:hover {
  color: #f8e352;
  font-size: 110%;
}
.menu .flex div .active {
  pointer-events: none;
  cursor: default;
  color: #b7b7b7;
}

@media all and (max-width: 600px) {
  .header_bottom .title {
    margin: 50px auto;
  }

  .menu .flex div:last-child {
    padding-right: 20px;
  }
  .menu .flex div a {
    font-size: 16px;
  }
}
footer {
  background: linear-gradient(rgba(197, 195, 195, 0.5), rgba(159, 156, 156, 0.5)), url("../img/background/bg_footer.jpg") 0 -210px/cover no-repeat;
  padding: 20px;
}
footer .flex {
  align-items: stretch;
}
footer .flex > div {
  background: #dae7f3c9;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #3d2b2b;
  padding: 0 20px;
}
footer a {
  display: flex;
  align-items: end;
  width: max-content;
}
footer a {
  transition: 300ms;
}
footer a:hover {
  color: #f8e352;
  font-size: 110%;
}
footer a svg {
  transition: 300ms;
}
footer a:hover svg {
  color: #f8e352;
  fill: #f8e352;
}
footer .title {
  width: max-content;
  font-size: 25px;
  padding: 0;
  margin: 0 auto 10px;
}
footer hr {
  height: 3px;
  width: 100px;
  color: #520a68;
  background: #520a68;
  margin: 10px auto 30px;
}

.contacts .tiktok:before, .contacts .inst:before, .contacts .tel:before {
  content: "";
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.contacts .tiktok svg, .tiktok .contacts svg, .contacts .inst svg, .inst .contacts svg, .contacts .tel svg, .tel .contacts svg {
  width: 100px;
  height: 65px;
  position: absolute;
  top: -90%;
  left: 33px;
  transform: rotate(-7deg);
}
.contacts .contacts_items div:not(:last-child) {
  margin-bottom: 40px;
}
.contacts .contacts_items div:not(:last-child) a {
  font-size: 15px;
}

.tel {
  position: relative;
}
.tel:before {
  background: url("../img/icons/social/tel.png") 50%/32px no-repeat;
}
.inst {
  position: relative;
}
.inst:before {
  background: url("../img/icons/social/inst.svg") 50%/32px no-repeat;
}
.tiktok {
  position: relative;
}
.tiktok:before {
  background: url("../img/icons/social/tiktok.svg") 50%/32px no-repeat;
}
.address {
  font-family: Caveat-Bold;
  font-size: 20px;
}

footer .catalog {
  margin-top: 0;
}
footer .catalog_items {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
footer .catalog_items a {
  align-items: center;
  margin: 0 35px 20px 0;
}
footer .catalog_items a:before {
  content: "";
  width: 10px;
  height: 2px;
  background: #413333;
  margin-right: 10px;
}
footer .catalog_items a:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #413333;
  margin-left: 10px;
}

iframe {
  border-radius: 5px;
  box-shadow: 1px 1px 10px #3d2b2b;
}

.application .text {
  text-align: center;
}
.application form {
  margin-top: 20px;
}
.application form input {
  display: block;
  min-width: 270px;
  background: white;
  padding: 12px 20px;
  border-radius: 5px;
  transition: 300ms;
}
.application form input[type=number]::-webkit-outer-spin-button, .application form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.application form input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}
.application form input[type=number]:hover, .application form input[type=number]:focus {
  -moz-appearance: textfield;
}
.application form input[type=number]::-webkit-inner-spin-button, .application form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.application form input:not(:last-child) {
  font-family: Caveat-Regular;
  font-size: 22px;
  margin-bottom: 10px;
}
.application form input:not(:last-child)::placeholder {
  font-size: 20px;
}
.application form input:not(:last-child):hover {
  background: rgba(255, 255, 255, 0.84);
}
.application form input:not(:last-child):focus {
  background: rgba(255, 255, 255, 0.84);
  box-shadow: 0 0 10px #520a68;
}
.application form input:last-child {
  background: rgba(82, 10, 104, 0.7);
  font-size: 20px;
  margin-top: 15px;
  padding: 13px;
  cursor: pointer;
}
.application form input:last-child {
  transition: 300ms;
}
.application form input:last-child:hover {
  background: #f8e352;
  color: #3d2b2b;
  box-shadow: 1px 1px 10px #3d2b2b;
}

@media all and (max-width: 1230px) {
  footer .catalog {
    display: none;
  }
  footer .flex {
    justify-content: center;
    text-align: center;
  }
  footer .flex > div {
    width: 100%;
    padding: 10px 20px;
  }
  footer .flex > div:not(:last-child) {
    margin-right: 15px;
  }
  footer .contacts_items {
    width: max-content;
    margin: 0 auto;
  }
  footer form {
    width: max-content;
    margin: 20px auto;
  }
}
@media all and (max-width: 570px) {
  footer .flex {
    flex-direction: column-reverse;
  }

  footer .contacts {
    overflow: hidden;
    margin-top: 5px;
  }
  footer .contacts .contacts_items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .contacts .contacts_items > div {
    width: 33.333%;
  }
  footer .contacts .contacts_items > div:last-child {
    width: 100%;
  }
  footer .contacts .contacts_items > div:not(:last-child) {
    margin-bottom: 30px;
  }
  footer .contacts .contacts_items > div:not(:last-child) a {
    font-size: 13px;
  }
  footer .contacts .contacts_items > div a {
    margin: 0 auto;
  }
}
.application .text {
  text-align: center;
  font-size: 20px;
}

@media all and (max-width: 500px) {
  footer .contacts .contacts_items {
    width: max-content;
    flex-direction: column;
  }
  footer .contacts .contacts_items svg {
    display: none;
  }
  footer .contacts .contacts_items div:not(:last-child) a {
    font-size: 18px;
  }

  .application form input {
    min-width: 250px;
  }
}
@keyframes btn {
  from {
    box-shadow: 0 0 0 #888383;
  }
  to {
    transform: scale(1.15);
    box-shadow: 1px 1px 10px #888383;
    padding-bottom: 10px;
    padding-left: 2px;
  }
}
@keyframes motion-img {
  from {
    width: 30px;
  }
  to {
    width: 35px;
  }
}
.btn_up {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(156, 205, 201, 0.68);
  position: fixed;
  z-index: 5;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 1s;
  animation: btn 2s infinite alternate linear;
}
.btn_up img {
  animation: motion-img 2s infinite alternate linear;
}
.btn_up:hover {
  animation-play-state: paused;
  background: #f8e352;
}
.btn_up:hover img {
  animation-play-state: paused;
}

@media all and (max-width: 500px) {
  @keyframes btn {
    to {
      transform: scale(1);
    }
  }
  .btn_up {
    transform: scale(0.7);
  }
}
.modal_window {
  display: none;
  font-family: Caveat-Regular;
}

.modal-active {
  display: block !important;
}

.background_back {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.82);
}

.order {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background: url("../img/background/bg_modalWindow.png") 170px 100%/300px no-repeat, #b6a0a0;
  border-radius: 5px;
  max-width: 850px;
  width: 95%;
  padding: 55px 55px 80px;
}
.order .flex {
  align-items: start;
}
.order .close svg {
  fill: rgba(61, 43, 43, 0.7);
  cursor: pointer;
  transition: 300ms;
}
.order .close svg:hover {
  fill: rgba(248, 227, 82, 0.9);
}

.text_description {
  font-family: Caveat-Bold;
  font-size: 32px;
  color: #6e1537;
  margin: -10px 0 30px;
}

input, textarea {
  font-size: 25px;
}
input::placeholder, textarea::placeholder {
  font-size: 20px;
}
input:focus, textarea:focus {
  box-shadow: 0 0 10px 2px #d2e0ee;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, textarea::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form_left {
  margin-right: 15px;
}
.form_left input:not([type=radio]) {
  display: block;
  min-width: 300px;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 10px 20px;
  border-radius: 5px;
  transition: width 300ms, margin-left 300ms;
}
.form_left input:not([type=radio]):hover {
  width: 105%;
  margin-left: -2.5%;
}

.block_radio {
  position: relative;
}
.block_radio:not(:last-child) {
  margin-bottom: 10px;
}
.block_radio label {
  font-size: 25px;
  margin-left: 30px;
}
.block_radio label:before {
  content: "";
  width: 23px;
  height: 23px;
  border: 2px solid #342525;
  border-radius: 5px;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 1;
  transition: background 300ms;
  cursor: pointer;
}

input[type=radio] {
  width: 23px;
  height: 23px;
  opacity: 0;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: -1;
}
input[type=radio]:hover + label:before {
  background: rgba(203, 189, 189, 0.87);
}
input[type=radio]:focus + label:before {
  background: url("../img/icons/check_mark.svg") 46.6% 46.6%/17px no-repeat;
  transition: none;
}

.form_right {
  width: 50%;
  text-align: end;
}
.form_right textarea {
  resize: none;
  padding: 10px 20px;
  width: 100%;
  height: 195px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: 300ms;
}
.form_right textarea:hover {
  width: 105%;
  margin-left: -2.5%;
}
.form_right .text {
  font-family: Caveat-Regular;
  font-size: 25px;
}
.form_right label {
  font-size: 25px;
}
.form_right label input[type=file] {
  display: none;
}
.form_right label .custom_file {
  display: flex;
  width: 200px;
  height: 50px;
  color: white;
  background: rgba(254, 151, 187, 0.69);
  border-radius: 5px;
  margin: 20px 0 30px auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
}
.form_right label .custom_file:hover {
  background: #f8e352;
  color: #3d2b2b;
}
.form_right input[type=submit] {
  font-family: Raleway-Bold;
  border-radius: 5px;
  background: #640e48;
  font-size: 14px;
  padding: 15px 30px;
  cursor: pointer;
  color: white;
  transition: 300ms;
}
.form_right input[type=submit]:hover {
  background: #f8e352;
  color: #3d2b2b;
}

@media all and (max-width: 750px) {
  .order {
    padding-bottom: 60px;
    background: url("../img/background/bg_modalWindow.png") 10% 100%/200px no-repeat, #b6a0a0;
  }
  .order .subtitle {
    font-size: 40px;
    margin: 0;
  }
  .order span {
    font-size: 20px;
  }
  .order .text_description {
    font-size: 25px;
    margin: 5px 0 30px;
  }
  .order input, .order textarea {
    font-size: 20px;
  }
  .order input::placeholder, .order textarea::placeholder {
    font-size: 20px;
  }

  .form_left {
    width: 50%;
  }
  .form_left input:not([type=radio]) {
    min-width: 100%;
  }

  .block_radio label {
    font-size: 20px;
  }

  .form_right textarea {
    margin-bottom: 10px;
    height: 178px;
  }
  .form_right .text {
    font-size: 20px;
  }
  .form_right label {
    font-size: 20px;
  }
  .form_right label .custom_file {
    margin: 10px 0 15px auto;
    width: 180px;
    height: 40px;
  }
  .form_right input[type=submit] {
    font-size: 12px;
    padding: 12px 30px;
  }
}
@media all and (max-width: 630px) {
  .order .form {
    flex-direction: column;
    align-items: center;
  }
  .order .form .form_left {
    width: 65%;
    margin-bottom: 20px;
  }
  .order .form .form_right {
    width: 100%;
  }
}
.header_bottom {
  padding-bottom: 80px;
}
.header_bottom .title {
  margin-bottom: 0;
}

main {
  padding: 80px 10px;
}

.carousel {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}
.carousel .carousel-inner {
  overflow: visible;
}
.carousel .carousel-inner .carousel-item {
  transition: transform 800ms ease-in-out;
}

.news_block {
  padding: 60px 60px;
}
.news_block .subtitle {
  max-width: 440px;
  margin: 0 auto 50px;
  line-height: 40px;
}
.news_block .flex {
  flex-direction: column-reverse;
  align-items: center;
  text-align: justify;
}
.news_block .news_info {
  width: 100%;
}
.news_block .news_picture {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.news_block .news_picture img {
  max-width: 300px;
  box-shadow: 1px 1px 10px #3d2b2b;
  border-radius: 5px;
}
.news_block .news_picture .img_one {
  max-width: 100%;
}
.news_block .news_picture .skew {
  transform: skewY(7deg) scale(-1, 1);
}
.news_block .news_picture .skew-negative {
  transform: skewY(-7deg);
}

@media all and (max-width: 840px) {
  .news_block .sticker {
    padding: 10px 35px;
    top: 10px;
    left: -30px;
  }
  .news_block .subtitle {
    max-width: 300px;
    margin: 0 auto 30px;
  }
  .news_block .news_picture {
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .news_block .news_picture img {
    width: 100%;
  }
  .news_block .news_picture img:last-child {
    margin-top: 105px;
  }
  .news_block .news_picture .img_one:first-child {
    margin-top: 0;
  }
}
@media all and (max-width: 700px) {
  .news_block {
    padding: 60px 40px;
  }
  .news_block .news_picture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news_block .news_picture img {
    width: 100%;
  }
  .news_block .news_picture img:last-child {
    margin-top: 0;
    align-self: end;
  }
  .news_block .news_picture img:first-child {
    align-self: start;
  }
  .news_block .news_picture .skew-negative {
    transform: scale(-1, 1);
  }
  .news_block .news_picture .skew {
    transform: none;
  }
}
@media all and (max-width: 405px) {
  .news_block {
    padding: 60px 20px;
  }

  .carousel {
    padding: 10px 10px 20px;
  }
}

/*# sourceMappingURL=news.css.map */
