@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: Caveat-Bold;
  src: url("../fonts/Caveat-Bold.ttf");
}

@font-face {
  font-family: Caveat-SemiBold;
  src: url("../fonts/Caveat-SemiBold.ttf");
}

@font-face {
  font-family: Caveat-Regular;
  src: url("../fonts/Caveat-Regular.ttf");
}

@font-face {
  font-family: Celestina-Regular;
  src: url("../fonts/Celestina.otf");
}

@font-face {
  font-family: Comfortaa-SemiBold;
  src: url("../fonts/Comfortaa-SemiBold.ttf");
}