@mixin wMax_1300-300 {

  $width: 1300;
  @while $width <= 1300 and $width >= 940 {
    @media all and (max-width: #{$width}px) {
      main .catalog {
        grid-template-columns: repeat(4, calc(#{$width}px * 0.21));
        grid-auto-rows: calc(#{$width}px * 0.21);
      }
    }
    $width: $width - 120;
  }

  $width: 845;
  @while $width <= 845 and $width >= 615 {
    @media all and (max-width: #{$width}px) {
      main .catalog {
        grid-template-columns: repeat(3, calc(#{$width}px * 0.27));
        grid-template-areas:
                    "kamado shikamaru naruto"
                    "obito_2 shikamaru itadori"
                    "obito_2 satoru satoru"
                    "stich squid_game naruto_2"
                    "darling darling obito"
                    "hinata . .";
        grid-auto-rows: calc(#{$width}px * 0.27);
        gap: 5px;
      }
    }
    $width: $width - 115;
  }

  $width: 520;
  @while $width <= 520 and $width > 300 {
    @media all and (max-width: #{$width}px) {
      main .catalog {
        grid-template-columns: repeat(2, calc(#{$width}px * 0.43));
        grid-template-areas:
                    "kamado shikamaru"
                    "obito_2 shikamaru"
                    "satoru satoru"
                    "stich squid_game"
                    "darling darling"
                    "hinata naruto"
                    "itadori obito"
                    "naruto_2 naruto_2";
        grid-auto-rows: calc(#{$width}px * 0.43);
        gap: 5px;

        div {
          overflow: hidden;
        }

        .naruto_2 img {
          margin-top: 35px;
          transform: scaleY(2);
        }
      }
    }
    $width: $width - 50;
  }
}

@mixin wMax_for_subtitle {
  @media all and (max-width: 1000px) and (min-width: 550px) {

    main .subtitle {
      color: #fdecec;
      text-shadow: 1px 1px 10px $color_text;
    }
  }
}
