@mixin wMax_750 {
  @media all and (max-width: 750px) {
    .order {
      padding-bottom: 60px;
      background: url("../img/background/bg_modalWindow.png") 10% 100%/200px no-repeat, #b6a0a0;

      .subtitle {
        font-size: 40px;
        margin: 0;
      }

      span {
        font-size: 20px;
      }

      .text_description {
        font-size: 25px;
        margin: 5px 0 30px;
      }

      input, textarea {
        font-size: 20px;

        &::placeholder {
          font-size: 20px;
        }
      }
    }

    .form_left {
      width: 50%;

      input:not([type=radio]) {
        min-width: 100%;
      }
    }

    .block_radio {

      label {
        font-size: 20px;
      }
    }

    .form_right {

      textarea {
        margin-bottom: 10px;
        height: 178px;
      }

      .text {
        font-size: 20px;
      }

      label {
        font-size: 20px;

        .custom_file {
          margin: 10px 0 15px auto;
          width: 180px;
          height: 40px;
        }
      }

      input[type=submit] {
        font-size: 12px;
        padding: 12px 30px;
      }
    }
  }
}

@mixin wMax_630 {
  @media all and (max-width: 630px) {

    .order .form {
      flex-direction: column;
      align-items: center;

      .form_left {
        width: 65%;
        margin-bottom: 20px;
      }

      .form_right {
        width: 100%;
      }
    }
  }
}
