$padding_block: 100px 20px;

$color_hover: #f8e352;
$color_subtitle: #520a68;
$color_text: #3d2b2b;
$color_span: #6e1537;
$color_background: #f1dcdc;

$width_btn: 250px;
$height_btn: 160px;

$width_height_box: 23px;
